P {
    /*agrega un color al parrafo*/
    color: brown; 
    /*modifica el tamaño de las letras del parrafo*/
    font-size: 20px;
    /*modifica el tipo de letra del parrafo*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}



h1{
   
    color: darkblue;
    margin: auto;
    max-width: 500px;
    text-align: center;
}

h2{
    color: darkgreen;
}

h3{
    color: darkcyan;
}

parrafo {
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

main{
    background-color: burlywood;
}

header{
    text-align: center;
    
}


form{
    
    max-width: 600px; /*limita el ancho del formulario*/
    margin: 0 auto; /*centra el formlario*/
    background-color: blanchedalmond;
    border-radius: 10px; /*bordes redondeados*/
}

/*estilizar etiquetas*/
label{
    font-size: 14px;
    font-weight: bolder; /*grosor del texto*/
    
}